.Container{
  background: url('./../../img/fondoultramexico.jpg');
  width: 100%;
  /* height: 100vh; */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}