.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
.close-modal{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.img-close-modal{
  width: 60px;
}

@media screen and (max-width:768px){
  .close-modal{
    top: 15px;
    right: 15px;
  }
}

@media screen and (max-width:480px){
  .close-modal{
    top: 8px;
    right: 8px;
  }
  .img-close-modal{
  width: 40px;
  }
}